<% for (book of booksArray) { %>
    <tr>
        <td>
            <%= book.title %>
        </td>
        <td>
            <a href="/admin-console/update-book/<%= book._id %>">
                <input type="button" class="blue-button" value="Edit">
            </a>
        </td>
        <td>
            <form action="/book/<%= book._id %>?_method=DELETE" method="POST" enctype="application/x-www-form-urlencoded">
                <input type="submit" class="yellow-button" value="Delete">
            </form>
        </td>
    </tr>
<% } %>