<% for (book of booksArray) { %>
    <tr>
        <td><%= book.title %></td>
        <td><input type="button" class="blue-button" value="Edit"></td>
        <td><input type="button" class="yellow-button" value="Delete"></td>
    </tr>
<% } %>