<footer>
    <span class="visit-us">
        <h3>Visit Us</h3>
            CodeSquad Comics
            <br>
            123 Dorchester Avenue
            <br>
            Boston, MA 02124
    </span>
    <span class="links">
        <h3>Links</h3>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/login">Login</a>
    </span>
    <span class="follow-us">
        <h3>Follow Us</h3>
        <div class="icons">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
        </div>
    </span>
    <span class="cs-logo">
        <h3>A Product Of</h3>
        <a href="http://codesquad.org/" target="_blank" rel="noopener noreferrer">
            <img src="/images/CodeSquad-logo-b.png" alt="CodeSquad logo">
        </a>
    </span>
</footer>
</body>