<nav>
    <div class="comics-logo">
        <a href="/">
            <img src="/images/CodeSquad-Comics-logo.png" alt="CodeSquad Comics next to a row of books">
        </a>
    </div>
    <a href="javascript:void(0);" class="menu-icon">
        <i class="fas fa-bars fa-2x"></i>
    </a>
    <div class="navbar">
        <a href= "/">HOME</a>
        <a href="/about">ABOUT</a>
        <a href="/login">LOGIN</a>
    </div>
</nav>