<%- include('../partials/head') -%>

<%- include('../partials/nav') -%>

    <main>
        <div class="container">
            <button class="yellow-button">
                <a href="/logout" role="button">Logout</a>
            </button>
            <h1>Admin Page</h1>
            <input type="button" onclick="window.location.href='/admin-console/create-book';" class="yellow-button" value="Add New Comic">
                <div class="comic-table">
                    <table>
                        <thead>
                            <tr>
                                <th>Comic Title</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <%- include('../partials/book-listing') -%>
                        </tbody>
                    </table>
                </div>
        </div>
    </main>

 <%- include('../partials/footer') -%>
 
</html>