<%- include('../partials/head') -%>

<%- include('../partials/nav') -%>

    <main>
        <div class="card">
            <div class="card-top"><h2>LUMBERJANES VOL. 1</h2>
                <img src="/images/lumberjanes.jpg" alt="a group of five young women in front of a cabin door with mysterious animal trophy heads hung on either side that have glowing eyes">
            </div>
            <div class="card-bottom">
                <p><span class="category">Title:</span> <span class="title">Lumberjanes Vol. 1</span></p>
                <p><span class="category">Author:</span> Noelle Stevenson</p>
                <p><span class="category">Publisher:</span> BOOM! Box</p>
                <p><span class="category">Genre:</span> coming-of-age</p>
                <p><span class="category">Number of pages:</span> 128</p>
                <p><span class="category">Rating:</span> 4</p>
                <p><span class="category">Synopsis:</span> At Miss Qiunzilla Thiskwin Penniquiqul Thistle Crumpet's camp for hard-core lady-types, things are not what they seem. Three-eyed foxes. Secret caves. Anagrams. Luckily, Jo, April, Mal, Molly, and Ripley are five rad, butt-kicking best pals determined to have an awesome summer together... And they're not gonna let a magical quest or an array of supernatural critters get in their way! The mystery keeps getting bigger, and it all begins here.</p>
            </div>
        </div>
    </main>

<%- include('../partials/footer') -%>

</html>