<%- include('../partials/head') -%>

<%- include('../partials/nav') -%>

    <section>
        <div class="container">
            <h1>CodeSquad Comics</h1>
            <p>CodeSquad Comics is a collection of graphic novels read by Rachel Sensenig. The site is intended to display comic book covers along with information about each book, including the author, a rating, and other details about the graphic novel. Browse through the complete collection below. Click on the cover image or the Details link to see even more information for each graphic novel including the publisher, genre, number of pages, and a brief synopsis. The About page includes meta information about this collection. Login is only available to the site administrator at this time.</p>
        </div>
    </section>
    <main>
        <div class="container">
            <h2>COMPLETE COMIC COLLECTION</h2>
            <div class="comic-collection">
                <div class="index-entry">
                    <a href="#">
                        <img src="/images/fun-home.jpg" alt="a framed picture of a family on a floral background">
                    </a>
                    <span class="title">Fun Home: A Family Tragicomic</span>
                    <span class="author">by Alison Bechdel</span>
                    <span class="rating">5 stars</span>
                    <a href="#">Details</a>
                </div>
                <div class="index-entry">
                    <a href="#">
                        <img src="/images/watchmen.jpg" alt="a drop of blood dripping over the eye of a smiley face">
                    </a>
                    <span class="title">Watchmen</span>
                    <span class="author">by Alan Moore</span>
                    <span class="rating">5 stars</span>
                    <a href="#">Details</a>
                </div>
                <div class="index-entry">
                    <a href="#">
                        <img src="/images/hunter-x-hunter.jpg" alt="a happy green haired kid sitting on top of a frog">
                    </a>
                    <span class="title">Hunter X Hunter Vol. 1</span>
                    <span class="author">by Yoshihiro Togashi</span>
                    <span class="rating">5 stars</span>
                    <a href="#">Details</a>
                </div>
                <div class="index-entry">
                    <a href="lumberjanes.html">
                        <img src="/images/lumberjanes.jpg" alt="a group of five rustically dressed femme people in front of a cabin door with animal heads mounted on both sides">
                    </a>
                    <span class="title">Lumberjanes Vol. 1</span>
                    <span class="author">by Noelle Stevenson</span>
                    <span class="rating">4 stars</span>
                    <a href="lumberjanes.html">Details</a>
                </div>
                <div class="index-entry">
                    <a href="#">
                        <img src="/images/one-piece.jpg" alt="three happy people on the prow of a ship with seagulls flying in the air">
                    </a>
                    <span class="title">One Piece, Vol. 1: Romance Dawn</span>
                    <span class="author">by Eiichiro Oda</span>
                    <span class="rating">5 stars</span>
                    <a href="#">Details</a>
                </div>
                <div class="index-entry">
                    <a href="#">
                        <img src="/images/wake.jpg" alt="a group of black women looking over a city with smoke in the distance">
                    </a>
                    <span class="title">Wake: The Hidden History of Women-Led Slave Revolts</span>
                    <span class="author">by Rebecca Hall</span>
                    <span class="rating">4 stars</span>
                    <a href="#">Details</a>
                </div>
                <div class="index-entry">
                    <a href="#">
                        <img src="/images/black-panther.jpg" alt="a muscly man with a panther head standing in front of a city">
                    </a>
                    <span class="title">Black Panther: A Nation Under Our Feet Book 1</span>
                    <span class="author">by Ta-Nehisi Coates</span>
                    <span class="rating">3 stars</span>
                    <a href="#">Details</a>
                </div>
                <div class="index-entry">
                    <a href="#">
                        <img src="/images/the-walking-dead.jpg" alt="a group of zombies in front of a picture of a family with drops of blood and bullet casings on it">
                    </a>
                    <span class="title">The Walking Dead, Vol. 1: Days Gone Bye</span>
                    <span class="author">by Robert Kirkman</span>
                    <span class="rating">4 stars</span>
                    <a href="#">Details</a>
                </div>
                <div class="index-entry">
                    <a href="#">
                        <img src="/images/march.jpg" alt="legs of people marching above people of color sitting next to a Counter Closed sign">
                    </a>
                    <span class="title">March: Book One</span>
                    <span class="author">by John Lewis</span>
                    <span class="rating">5 stars</span>
                    <a href="#">Details</a>
                </div>
                <div class="index-entry">
                    <a href="#">
                        <img src="/images/batman.jpg" alt="a silouhette of a caped figure over a bolt of lightning">
                    </a>
                    <span class="title">Batman: The Dark Knight Returns</span>
                    <span class="author">by Frank Miller</span>
                    <span class="rating">3 stars</span>
                    <a href="#">Details</a>
                </div>
                <div class="index-entry">
                    <a href="#">
                        <img src="/images/queer.jpg" alt="a person in a blue suit with an umbrella walking with a rainbow of arrows emitting from their foot">
                    </a>
                    <span class="title">Queer: A Graphic History</span>
                    <span class="author">by Meg-John Barker</span>
                    <span class="rating">4 stars</span>
                    <a href="#">Details</a>
                </div>
                <div class="index-entry">
                    <a href="#">
                        <img src="/images/parable-of-the-sower.jpg" alt="a black woman with dreads looking determined in front of fire and mountains">
                    </a>
                    <span class="title">Parable of the Sower</span>
                    <span class="author">by Octavia Butler</span>
                    <span class="rating">4 stars</span>
                    <a href="#">Details</a>
                </div>
            </div>
            <!-- <div class="new-div"></div> -->
            <div class="display-more">
                <input type="button" value="Display More">
            </div>
        </div>
    </main>
    
<%- include('../partials/footer') -%>

</html>