<%- include('../partials/head') -%>

<%- include('../partials/nav') -%>

    <main>
        <div class="container">
            <h1>Register</h1>
            <div class="form-container">
                <form action="/register" method="POST">
                    <div>
                        <label for="username">Username:</label>
                        <input type="text" name="username" id="username" placeholder="Username" required>
                    </div>
                    <div>
                        <label for="password">Password:</label>
                        <input type="text" name="password" id="password" placeholder="Password" minlength="10" required>
                    </div>
                    <input type="submit" value="Submit">
                    <br>
                    <button>
                        <a href="/auth/google" role="button">Sign Up with Google</a>
                    </button>
                </form>
            </div>
        </div>
    </main>

    <%- include('../partials/footer') -%>
    
</html>