:root {
    --teal: #006B6B;
    --light-teal: #009E9E;
    --yellow: #FCCF14;
    --blue: #063C5E;
    --grey: #C2C2C2;
    --white: #FFFFFF;
    font-size: 1.4rem;
}

* {
    box-sizing: border-box;
}

body {
    width: 100%;
    max-width: 100vw;
    margin: 0%;
    overflow-x: hidden;
    background-image: linear-gradient(var(--white), var(--teal));
}

.header {
    background-color: var(--blue);
    width: auto;
    padding: 10px 0px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.comics-logo {
    display: flex;
    align-items: flex-start;
}

.nav-bar {
    color: var(--white);
    display: flex;
    align-items: center;
} 

.header img {
    width: 300px;
    height: auto;
}


.header a {
    padding: 10px 20px;
    text-decoration: none;
}

.header a:link,
.header a:visited {
    color: var(--white);
}

.header a:hover {
    color: var(--yellow);
    font-weight: bold;
}

.header a:active {
    color: var(--blue);
    font-weight: bold;
    background-color: var(--yellow);
}

.container {
    background-color: var(--white);
    width: 75%;
    padding: 30px 20px;
    border: solid 5px var(--blue);
    margin: 100px auto;
}

.container h1,
.container h2 {
    text-transform: uppercase;
    text-align: center;
    color: var(--blue);
}

.form-container {
    display: block;
    text-align: center;
}

.form-container div {
    margin: 20px auto;
}

.form-container label {
    display: inline-block;
    width: 175px;
    text-align: right;
}

.form-container input[type=text],
.form-container input[type=number], 
.form-container select,
.form-container textarea {
    width: 250px;
    outline: none
}

.form-container textarea {
    height: 150px;
    resize: none;
}

.form-container label[for=synopsis] {
    vertical-align: top;
}

.form-container input[type=submit] {
    background-color: var(--yellow);
    padding: 2px 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 0px auto;
}

.footer {
    background-color: var(--blue);
    width: auto;
    color: var(--white);
    padding: 20px 10px;
    border-top: solid 5px var(--yellow);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

span.visit-us,
span.links,
span.follow-us,
span.cs-logo {
    display: flex;
    flex-direction: column;
    padding: 20px 100px;
}

.footer h3 {
    color: var(--yellow);
    text-transform: uppercase;
}

.footer a {
    text-decoration: none;
}

.footer a:link,
a:visited {
    color: var(--white);      
}

.footer a:hover {
    color: var(--yellow);
    font-weight: bold;
}

.footer a:active {
    color: var(--blue);
    font-weight: bold;
    background-color: var(--yellow);
}

.footer img {
    width: 150px;
    height: auto;
}

.yellow-button {
    background-color: var(--yellow);
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    margin: 0px auto;
}

.blue-button {
    background-color: var(--blue);
    color: var(--white);
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    margin: 0px auto;
}

.comic-table {
    width: 100%;
    margin: 35px auto;
    display: flex;
    justify-content: center;
}

.comic-table table {
    border-collapse: collapse;
}

.comic-table thead tr td {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.comic-table thead div {
    display: flex;
    justify-content: space-between;
}

.comic-table thead {
    background-color: var(--grey);
}

.comic-table tr:nth-child(even) {
    background-color: var(--grey);
}

.comic-table td {
    border: solid 2px black;
    padding: 10px;
}

.comic-collection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.comic-collection img {
    width: 200px;
    height: auto;
}

.display-more {
    display: flex;
    justify-content: center;
}

.display-more input[type="button"]{
    background-color: var(--yellow);
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    margin: 0px auto;
}

.index-entry {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px;
}

.index-entry img {
    margin: 0px 0px 20px;
}

.index-entry a,
.index-entry a:visited {
    color: var(--blue);
    text-decoration: none;
}

.index-entry a:hover {
    color: var(--teal);
    font-weight: bold;
    text-decoration: none;
}

.index-entry a:active {
    color: var(--blue);
    font-weight: bold;
    background-color: var(--yellow);
    text-decoration: none;
}

span.title {
    font-style: italic;
}

.card {
    margin: 10vh auto;
    width: 50%;
    max-width: 50%;
    min-width: 400px;
    display: flex;
    flex-direction: column;
}

.card-top {
    background-color: var(--blue);
    color: var(--yellow);
    font-weight: bold;
    text-align: center;
    padding: 10px 50px;
    border: solid 4px var(--yellow);
    border-radius: 40px 40px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-top img {
    border: solid 3px var(--white);
    border-radius: 40px;
    margin: 1% 8% 8%;
}

.card-bottom {
    width: 100%;
    background-color: var(--white);
    padding: 20px 30px;
    border-left: solid 4px var(--yellow);
    border-right: solid 4px var(--yellow);
    border-bottom: solid 4px var(--yellow);
    border-radius: 0px 0px 40px 40px;
}

.category {
    color: var(--blue);
    text-decoration: underline;
    font-weight: bold;
}

.collection-details {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}